.bg-green {
}
.bg-yellow {
}
.bg-primary {
  background: #f25e51;
}
.text-primary {
  color: #f25e51;
}
.border-primary {
  border-color: #f25e51;
}
.border-alt {
  border-color: #eaeaea;
}

.bg-alt {
  background-color: #eaeaea;
}
bg-gray-l {
  background-color: #fcfcfc;
}
.text-alt {
  color: #eaeaea;
}

.border-primary-mute {
  border-color: rgba(242, 160, 152, 0.15);
}
.text-black-alt {
  color: rgba(55, 56, 60, 0.61); /* 텍스트 색상에 투명도 */
  opacity: 61%;
}

.text-black-assist {
  color: #37383c;
  opacity: 28%;
}
.bg-black-assist {
  background-color: #37383c;
  opacity: 28%;
}
.bg-primary-mute {
  background-color: #ea877a;
}

.bg-primary-opacity {
  background-color: rgba(
    243,
    184,
    179,
    0.27
  ); /* #f3b8b3의 RGBA 값으로 투명도만 조정 */
}

.border-black-alt {
  border-color: rgba(55, 56, 60, 0.61); /* 텍스트 색상에 투명도 */
}

.border-primary-opacity {
  border-color: rgba(
    243,
    184,
    179,
    0.27
  ); /* #f3b8b3의 RGBA 값으로 투명도만 조정 */
}
