@import 'tailwindcss';

@theme {
  /* 🎨 Background Colors */
  --color-background-normal: #fcfcfc;
  --color-background-alt: #eaeaea;

  /* 🎨 Black Variants */
  --color-black-normal: #131415;
  --color-black-strong: #111111;
  --color-black-neutral: rgba(46, 47, 51, 0.88);
  --color-black-alt: rgba(55, 56, 60, 0.61);
  --color-black-assist: rgba(55, 56, 60, 0.28);
  --color-black-disable: #dfdfe0;

  /* 🎨 Primary Variants */
  --color-primary: #f25e51;
  --color-primary-transparent: rgba(243, 184, 179, 0.27);
  --color-primary-mute: #ea877a;
}
